@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');

* {

    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
    scrollbar-width: thin;
    scroll-behavior: smooth;
    box-sizing: border-box
}

body {
    background-image: url(../img/logo-background/bannerRandom.png);
    text-align: justify;
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 100vw;

}

main {
    font-size: 18px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex: 1 1 100vw;
}

h3,
h2 {
    padding: 0;
    margin: 20px 0;

}

p {
    line-height: 1.5;
    margin-bottom: 20px;
}

.img-container {
    position: relative;
    width: 100%;
    height: auto;
    z-index: -1;
}

.img-container img {
    width: 100%;
    height: auto;
    border-radius: 30px;
}

.img-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 20%, #fbfbfb4d 80%);
    pointer-events: none;
    z-index: 1000;
}

.sessoes {
    text-indent: 60px;
    text-align: justify;
    display: flex;
    flex-wrap: wrap;
    padding: 0 50px;
    margin: 20px;
}

/*=========== 1ª Sessao "quemSomos"============== */

#quemSomos {
    background-color: rgba(251, 251, 251, 0.719);
    margin-top: 20px;
    position: relative;
    border-radius: 40px;
    overflow: hidden;
}

#quemSomos::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/logo-background/colaboration");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

#imgQuanta {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#imgQuanta img {
    width: 20%;
    height: auto;
}

#quantum {
    display: flex;
    align-items: center;
    justify-content: center;

}

#membros {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: auto;
    gap: 20px;
    margin: 20px;
}

#membros img {
    width: 400px;
    height: auto;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.281);
}

#espacoPremiacao {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

#separador {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#imgSeparador {
    width: 50%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#imgSeparador img {
    width: 90%;
    height: auto;
    border-radius: 20px;
    margin: 0 10px;
}
#LulaMolusco{   
    width: 30%;
    height: auto;
    padding: 20px;
}

#lulaEtrofeu{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 20px 20px;
    
}
#trofeu{
    width: 20%;
    border-radius: 50px ;
}

#bob {
    width: 150px;
}

.fotosPremiacao {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.fotosPremiacao:last-child {
    max-height: 300px;
    object-fit: cover;
}

/*=========== 2ª Sessao "Parceiros"============== */
#parceiros {
    border-radius: 30px;
    background-color: rgba(16, 27, 148, 0.466);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    z-index: 10;
    backdrop-filter: blur(3px);
}


/*=========== 3ª Sessao(article) "Temporada Submerged"============== */
#tempSubmerged {
    background-image: url(../img/logo-background/sesi_robotica_2024_kv_fll.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 30px;
}

/*=========== 4ª Sessao "Sessoes da temporada"============== */
.sessoesTemp {
    background-color: rgba(251, 251, 251, 0.808);
    text-indent: 60px;
    text-align: justify;
    display: flex;
    flex-wrap: wrap;
    margin: 50px;
    padding: 20px;
    border-radius: 20px 20px 0 20px;
}

.subtitulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}


.fotos {
    margin: auto 30px;
    width: 30%;
    height: auto;
    border-radius: 10px;
}

#projeto {
    padding-top: 7%;
}

footer {
    display: flex;
    flex-direction: column;
    background-color: #6d6d6df5;
    color: white;
    margin-top: 20px;
    text-align: center;
    padding: 20px;
    width: 100%;
    position: relative;
    box-sizing: border-box;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.social-icon {
    width: 40px;
    height: 40px;
    margin-top: 10px;
}

#iconInsta {
    border-radius: 15px;
    transition: 0.5s;
}

#iconInsta:hover {
    transition: 0.5s;
    transform: scale(1.2);
}


#paragrafoPatricia{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#p1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#paragrafoPatricia #imgPatricia{
    width: 400px;
    height: auto;
    border-radius: 50%;
}
/*=========== RESPONSIVIDADE ============== */
@media screen and (max-width: 730px) {
    .sessoes {
        font-size: 18px;
        padding: 0 20px;
    }

    .sessoesTemp {
        font-size: 18px;
        padding: 0 15px;
    }
    #quemSomos::before {
        background-position: center;
    }

    #trofeu{
        width: 30%;
        margin-bottom: 20px;
    }
    #LulaMolusco{   
        width: 40%;
        height: auto;
        padding: 20px;
    }

    #espaçoPremiacao {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
       
    }
    #imgSeparador {
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    #imgSeparador img{
        width: 100%;
        height: auto;
        margin: 10px;
    }
    #trofeu img{
        width: 100%;
        height: auto;
    }

    #quantum {
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
    }

    #membros {
        width: 90%;
    }
}