@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
    scrollbar-width: thin;
    scroll-behavior: smooth;
    box-sizing: border-box
}

body {
    background-image: url(../img/logo-background/bannerRandom.png);
    text-align: justify;
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 100vw;
}

main {
    font-size: 18px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex: 1 1 100vw;
}

h3, h2 {
    padding: 0;
    margin: 20px 0;
}

.img-container {
    position: relative;
    width: 100%;
    z-index: -1;
}

.img-container img {
    display: block;
    width: 100%;
    height: auto;

}

.img-container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 20%, #FBFBFB 80%);
    pointer-events: none;
    /* Garante que o efeito não interfira na imagem */
}


.sessoes {
    background-color: rgba(251, 251, 251, 0.893);
    text-indent: 60px;
    text-align: justify;
    display: flex;
    flex-wrap: wrap;
    padding: 40px;
}

.subtitulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}


#quemSomos {
    padding-top: 7%;

}

#imgQuanta {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#imgQuanta img {
    width: 20%;
    height: auto;
}

#quantum {
    display: flex;
    margin: 20px;

}
#quantum img {
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.281);
}
.fotos {
    margin: auto 30px;
    width: 30%;
    height: auto;
    border-radius: 10px;
}


#projeto {
    padding-top: 7%;
}